@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Satisfy&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #a78bfa;
	font-family: "Nunito", sans-serif;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	gap: 4rem;
}
.mainContainer h1 {
	font-family: "Satisfy", cursive;
	letter-spacing: 4px;
	font-size: 2.5rem;
	color: #fbcfe8;
}
.sketchTab {
	border: 2px solid #bae6fd;
	border-radius: 2rem;
	width: 40vw;
	height: 65vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #6ee7b7;
	box-shadow: 0 0 5px #475569;
	/* z-index: -1; */
}
.sketchDisplay {
	border: 2px solid #bae6fd;
	border-radius: 2rem;
	width: 80%;
	height: 80%;
	background-color: #e0f2fe;
	border: 2px solid #cffafe;
	box-shadow: 0 0 5px #475569;
	/* z-index: 0; */
}
.leftBtns,
.rightBtns {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.btn {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: cadetblue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
.btn:hover {
	transform: scale(0.95);
	transition: ease-out 200ms;
}
.colorPicker {
	border-radius: 50%;
}
input[type="color"] {
	border: none;
	width: 70%;
	height: 70%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border-radius: 50%;
	border: none;
	box-shadow: 0 0 1rem #475569;
}
